# Docker Compose / Postgres
POSTGRES_IMAGE_TAG=18.3-alpine3.23
POSTGRES_DB=mydatabase
POSTGRES_USER=myuser
POSTGRES_PASSWORD=secret
POSTGRES_PORT=5432

# Optional Spring Boot overrides (if you prefer explicit Spring vars)
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/mydatabase
SPRING_DATASOURCE_USERNAME=myuser
SPRING_DATASOURCE_PASSWORD=secret

